# blacklist all
*
!*/

# include whitelist
!/nginx/**
!/src/**
!/.browserslistrc
!/.dockerignore
!/.editorconfig
!/.gitignore
!/angular.json
!/Dockerfile
!/karma.conf.js
!/package.json
!/package-lock.json
!/README.md
!/tsconfig.app.json
!/tsconfig.json
!/tsconfig.spec.json
